[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
numpy = "*"
pydantic = "*"
sentence-transformers = "*"
python-dotenv = "*"
flet = "==0.27.6"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
